// Import page-specific CSS files here.


.container {
  width: 100%;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.card-pic {
  width: 100%;
  padding: 0px;
}

.card-body {
  margin-right: 0px;
  text-align: center;
  position:relative;
}


//affichage mobile
@media only screen and (max-width:979px) {

  .shortdescription{
  display: block;/* or inline-block */
  word-wrap: overflow-wrap;
  overflow: hidden;
  max-height: 4em;
  line-height: 1.5em;
}

 .card {
  max-width: 1345px;
  min-width: 300px;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  border-color: white;
  padding: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
 }

.card img {
  width:100%;
}

.bottomcard {
  margin-top:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
  width: 100%;

}

}
 //affichage tablette et desktop
@media screen and (min-width:980px) {


  .card {
  max-width: 1345px;
  min-width: 300px;
  height: 350px;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
  border-color: white;
  padding: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
 }

 .card img {
  width:100%;
  height: 350px;
}

.shortdescription{
  margin-top: 25px;
  display: block;/* or inline-block */
  word-wrap: overflow-wrap;
  overflow: hidden;
  max-height: 7.3em;
  line-height: 1.5em;

}

.bottomcard {
  position: absolute;
  bottom: 0;
  left:0;
  padding-left: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60px;
  width: 100%;

}

}

.card-body p{
  text-align: justify;
}

.card-body h2 {
  display: block;/* or inline-block */
  overflow: hidden;
  max-height: 1.3em;
  line-height: 1.3em;
}

.card-body h3 {
  display: block;/* or inline-block */
  overflow: hidden;
  max-height: 1.3em;
  line-height: 1.3em;
}




.picto {
  height: 100%;
}

.picto p {
  margin-bottom: 0px
}

.productbutton {
  position: relative;
  height: 100%;
  width: 150px
}

// les deux trucs ci dessous, la pose probléme pour le bouton de sign in,on peut pas cliquer sur sign up)
.btn-index {
position: absolute;
bottom: 0;
right:0;
}

.btn-primary {
color: White ;
font-weight: bold;

}



.carousel{
  width: 100%;
  max-width: 1345px;
  min-width: 300px;
  height: auto;
  margin: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);


}

.carousel-item{
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
}

