// Import page-specific CSS files here.



.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;


}
.card {
  width: 1345px;
  height: 354px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  border-color: white;
}

.card-pic {
  margin-left: 0px;
  width: 50%;
  height: 100%;
}

.card img {
  width:100%;
  height:100%;
}

.card-body {
  height: 100%;
  width: 50%;
  margin-right: 0px;
  text-align: center;
  position:relative;

}

.card-body p{
  text-align: justify;
}

.card-body h2 {
  display: block;/* or inline-block */
  overflow: hidden;
  max-height: 1.3em;
  line-height: 1.3em;
}

.card-body h3 {
  display: block;/* or inline-block */
  overflow: hidden;
  max-height: 1.3em;
  line-height: 1.3em;
}

.shortdescription{
  margin-top: 25px;
  display: block;/* or inline-block */
  word-wrap: overflow-wrap;
  overflow: hidden;
  max-height: 7.5em;
  line-height: 1.5em;

}



.bottomcard {
  position: absolute;
  bottom: 0;
  left:0;
  margin:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
  width: 95%;

}

.picto {
  height: 100%;
}

.picto p {
  margin-bottom: 0px
}

.productbutton {
  position: relative;
  height: 100%;
  width: 150px
}

// les deux trucs ci dessous, la pose probléme pour le bouton de sign in,on peut pas cliquer sur sign up)
.btn-index {
position: absolute;
bottom: 0;
right:0;
}

.btn-primary {
color: White ;

}


.bottomcard img{
  height: 20px;
  width: 20px;
}


.carousel{
  width: 1345px;
  height: 572px;
  margin: auto;
}

.carousel-item{
  width: 100%;
  height: 100%;
}

