<div class="footer">

    <ul class="footer-links-list">
        <!-- CGU -->
        <li>
          <%= link_to "AGB/Datenschutz", "/pages/cgu " %>
        </li>
        <!-- L'equipe -->
        <li>
          <%= link_to "Über uns", "/pages/equipe" %>
        </li>
        <!-- Le projet -->
        <li>
          <%= link_to "Das Projekt", "/pages/projet" %>
        </li>
    </ul>
</div>
