<h1>Envoie de votre demande de reservation</h1>

<p>
  Votre Demande de reservation no <%= @booking.id %>a été transmise à notre guide, une reponse vous sera apportée dans les plus brefs delais.
</p>
