
<div class="container col-12 col-lg-8">
<div class="row">

  <div class="contacttop col-sm-12">
    <%= image_tag "header-page-contact.png"  %>
    <h1> Kontakt </h1>

  </div>
</div>

<div class="row ">


<div class="row formulaire">
    <div class="col-sm-12">
      <!--Section: Contact v.2-->
<section class="mb-4 ">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Kontaktieren Sie uns!</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Schreiben Sie uns gerne an falls Sie Fragen
haben. Wir werden dann schnellstmöglich mit Ihnen Kontakt aufnehmen.
    </p>

    <p class="text-center w-responsive mx-auto mb-5"> <%= render "contacts/form" %> </p>




</section>
<!--Section: Contact v.2-->
    </div>

  </div>


</div>
</div>
