<div class="row">

  <div class="contacttop">
    <%= image_tag "header-page-contact.png"  %>
    <h1> Contact </h1>

  </div>
</div>

<div class="row ">


<div class="row formulaire">
    <div class="col-sm-12">
      <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contactez-nous</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Si vous avez la moindre question,n'hesitez pas a nous contacter directement. Notre equipe reviendra vers vous aussi vite que possible
    </p>

    <p class="text-center w-responsive mx-auto mb-5"> <%= render "contacts/form" %> </p>




</section>
<!--Section: Contact v.2-->
    </div>

  </div>


<div class=containergal>
<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">0</li>
      <li class="glide__slide">1</li>
      <li class="glide__slide">2</li>
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
  </div>
</div>
</div>

</div>
