<h1> Prix </h1>

<table>
  <tr>
    <th>Visittes</th>
    <th>1 - 5 participants</th>
    <th>6 - 10 Participants</th>
    <th>11 - 15  participants</th>
  </tr>
  <tr>

  <% @visittes.each do |visite| %>
      <td><%= visite.title%></td>
      <td><%= visite.price%></td>
      <td><%= visite.price*1.15 %></td>
      <td><%= visite.price*1.30 %></td>
    </tr>

  <% end%>
</table>


