
<div class="container col-12 col-lg-8">
<div class="row">

  <div class="projettop">
    <%= image_tag "header-page-projet.png"  %>
    <h1> Wer ist Mein Marseille? </h1>

  </div>
</div>

<div class="row ">
<div class="texteprojet">

<p> Willkommen auf unsere Seite,
Willkommen in Marseille!</p>
<p>
Mein Marseille – das bedeutet nicht nur meins, sondern vielmehr! „Mein“ bedeutet zwar, dass ich in dieser Stadt gehöre und dass ich sie liebe, aber „Mein“ bedeutet auch, dass ich  sie sehr gerne – und wenn auch nur für einen Moment – mit Ihnen teilen möchte.
</p>

<p>Ich bin Anne. Ich habe mich immer für Geschichte interessiert, ob nun während meines Germanistikstudiums oder danach als ich in Berlin in einem historischen Museum gearbeitet habe. Hier habe ich zum Beispiel verschiedene Gruppen durch die Ausstellungen geführt.
</p>

<p>Nach zehn Jahren in der deutschen Hauptstadt hat mein Leben mich nach Norwegen geführt, wo ich auch Führungen angeboten habe – diesmal für die deutschsprachigen Touristengruppen. Dank dieser langjährigen und vielfältigen Erfahrungen als Tour-Guide kann ich Ihnen eine qualitative und spannende Führung in Ihrer Sprache anbieten. Ich weiß, dass es angenehm ist, in seiner eigenen Sprache geführt zu werden. Sicherlich verstehen viele Englisch, doch ist eine Führung in der eigenen Muttersprache etwas Anderes.
</p>

<p>Verschiedene Führungen für Familien, für kleinere Gruppen (etwa 8-10 Leute) sowie für Schulklassen und professionelle Gäste können bei Mein Marseille angeboten werden. Sollten größere Gruppen kommen, gibt es auch kein Problem. Hier werde ich dann von Kolleginnen und Kollegen unterstützt, um die Gruppen zu teilen, damit sie die Besichtigung besser genießen können. Keiner mag es, mit 30 anderen Besuchern durch eine Stadt zu laufen. Es ist mir nämlich auch wichtig, dass die Einwohner meiner Stadt sich nicht von zu großen Gruppen „überfüllt“ fühlen. Der Tourismus ist heutzutage ein Problem für viele Städte geworden, da man oft lieber auf Quantität als auf Qualität setzt. Das ist schade, und ich würde sehr ungern mit Mein Marseille dazu beitragen. Wir werden eine optimale Lösung finden, wenn Sie gerne mit größeren Gruppen kommen wollen, z.B. mit Ihrer Firma.
</p>

<p>Kleinere Gruppen, zum Beispiel mit Kindern (nach Führungstyp) sind auch sehr willkommen! Wir können gerne die Führungen auch so gestalten, dass die Kinder auch dabei viel Spaß haben können! Kinder unter 12 können
kostenlos an den Führungen teilnehmen.
</p>

<p>Schreiben Sie uns gerne eine E-Mail an info@meinmarseille.de um mehr Informationen über uns und unsere Angebote zu erhalten oder um eine maßgeschneiderte Führung zu organisieren (die Preise hängen von Teilnehmerzahl ab).
</p>

<p>Besuchen Sie auch unsere Facebookseite und unser Instagram Account!
</p>

<p>Bis bald!</p>

<p>Anne und das Team von Mein Marseille</p>

</div>
</div>
</div>

