
<div class="col-md-12 mb-md-0 mb-5 text-center w-responsive mx-auto mb-5">

            <%= form_tag "/contacts", method: "post" do %>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->

                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="email"  name="mail" class="form-control"/>
                            <label for="mail" >E-Mail</label>
                        </div>
                    </div>


                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="string"  name="sujet" class="form-control"/>
                            <label for="sujet">Betreff</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="string"  name="contenu" rows="3" class="form-control md-textarea" rows="10"/> </textarea>
                            <label for="contenu">Ihre Nachricht</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            <div class="text-center text-md-left">

                <input class="btn btn-primary contactbtn" type="submit" value="Nachricht senden" />

            </div>

        <% end %>
        </div>


