
 <%= simple_form_for @legal do |f| %>
        <div class="label">Titre</div>
        <div class="typo"> <%= f.input :title, label: false %> </div>
        <div class="label">texte</div>
        <div class="typo"> <%= f.input :texte, label: false %> </div>

    <%= f.button :submit %>

  <% end %>


