
<!-- Pour info, pour stocker un exemplaire des cgu et pouvoir le supprimer, le modifier j'ai fait un objet "legal" qui est une version des cgu. -->


<div class="container">
<h1>Legals#index</h1>
<p>Find me in app/views/legals/index.html.erb</p>

<div class="cards">

    <% @legals.each do |legal| %>
    <div class="legalcard" style="width: 30rem; border: solid black 1px; margin-top: 10px;  padding-top: 10px;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= legal.title%></h5>
        <p class="card-text"><%= legal.texte%></p>

        <%= form_tag "/legals/#{legal.id}", method: "delete" do %>
  <input type="submit" value="Supprimer la cgu" />
<% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>





