// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "glider.min.scss";
@import "glider.theme.min.scss";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



// Your CSS partials
@import "components/index";
@import "pages/index";



.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}


// les 12 lignes ci dessous, servent simplement a fixer le footer en bas de page :-)
html, body {
  height: 100%;
  margin: 0; padding: 0;
}
body {
  display : table;
  width: 100%;
}
.foot {
  display : table-row;
  height: 35px; /* à titre d'exemple */
}

li {
  list-style-type: none;
}

//page swow de product

.container{
  width: 1348px;
}

.product-card{
  width: 1348px;
  height: 564px;
}

.btn-header{
  margin-left: 50px;
  width: 180px;
  height: 50px;
  font-size: 30px;
  padding-top:0px;
}


.product-card h1 {
  margin-top: -370px;
  margin-left: 50px;
  color: white;
  font-size: 100px;
  font-weight: bold;
}


.bloc-photo {
  height: 100%;
  width: 100%;
}


.bloc-1 {
  border: 5px, solid, black;
}

.bloc-1 img {
  height: 25px;
}


.bloc-2 img {
  height: 25px;
}


.bloc-photo img {
  height: 100%;
  width: 100%;
}

.description {
text-align: justify;
// padding-top: 20px;

height: 980px;
}

.description h2 {
text-align: center;
padding-bottom: 20px;

}

.description p {
  margin-top: 30px;
  margin-bottom: 30px;
}


.description1 img{
  width: 100%;
  margin: auto;
}

// .bloc-picto-3{
//   height: 80px;
//   display: flex;
//   justify-content: left;
//   margin-top: 25px;
//   margin-bottom: 20px;
//   margin-left: -40px;
// }

.bloc-picto-2 img {
  height: 30px;
}

.bloc-picto-2 h3 {
  text-align: center;
}

.bandeaupictos {
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 10px;
  background-color: #0CD5B0;
}

.bandeaupictos div {
  margin: auto;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.Practish {
  height: 260px;
  overflow: hidden;
  line-height: 1.5em;
  margin-bottom: 40px;
  margin-top: 40px;
  // en attente : border: 2px solid #15f2c9;

}

.Tips {
    height: 260px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.Tips img {
  width: 100%;
  height: 100%;

}

.Tips h3 {
  position: absolute;
  z-index: 2;
  margin-left: 70px;
  margin-top: 30px;
  color: white;
  font-size: 4em;
}


#btn2 {
  width: 100%;
  margin-bottom: 20px;

}

.suggtitle {
  text-align:center;
  margin-top: 50px;
}

.suggline {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.row {
  width:100%;
  margin: 0px;
}

.yield {
  margin-top: 150px;
}

.pictos{
  justify-content: space-between;
}

.formulaire {
  margin-top: 50px;
  margin-bottom: 50px;
}
// pour la grille de prix de la show de product//

.pricegrid {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.pricegrid h3 {
  margin-bottom: 20px;
}

.case {
  //box-shadow: 0 0 15px rgba(0,0,0,0.2)
  border-top: 1px solid black;

}

// galerie photo

.fotogalerie {

  display: flex;
  margin: auto;
}

.fotoelement {
  // margin: auto;
  // height: 300px;
  // width: 100px;

}

.fotorow {
  // background-color: blue;

}

.fotoelement img {
  width:300px;
  height:250px;
}

.barreseparation {
  width: 100%;
  border-bottom: 1px solid black;
  padding-top: 20px;
  margin-bottom: 30px;
}


//style de la modale de demande de reservations

.row0 {
 margin-top: 20px;
  }

.row1 {
 margin-top: 20px;
  }

.row2 {
 margin-top: 20px;
  }

.row3 {
 margin-top: 20px;
  }

.modal-header {
  background-color: #15F2C9;
}
.modal-header h5 {
  color: white;
  font-weight: bold;
}


// page show product admin

.modificationsfields {
  width: 100%;

}

#modifdescription {

}

.miniphoto {
  width: 60px;
  height: 30px;
}

.miniphoto img {
  width: 100%;
  height: 100%;
}




.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}


//pour l'index booking user et admin//

#booking_by_user-line {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.card-product {
  overflow: hidden;
  height: 250px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 5px;
  margin-bottom: 25px;
}

.card-product img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  margin-right: 50px;
}


.card-space1 {
  height: 100%;
  width:100%;
}

.rawcs1 {
  display: flex;
  height: 40px;


}

.rawcs1 h2 {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}




.bookingcardtitle {
  width: 60%;
  text-align: left;
}


.bookingcardstatus {
  width: 40%;

}


.rawcs2 {
  height: 100%;
  display: flex;
  padding: 10px;
}

.bookingcardinfo1 {
  width: 50%;
}

.bookingcardinfo2 {
  width: 50%;
}

.bookingcardinfo2 h4 {
  text-align: right;
  margin-right: 20px;
}

.bookingcardinfo2 input {
  width: 80%;
  margin-top: 120px;
  margin-left: 21%;

}

.statusaccepted {
 background-color: #15F2C9;
 color: white;
 height:100%;
 font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.statusrefused {
background-color: #e24646;
 color: white;
 height:100%;
 font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.statuswait {
 background-color: #a8c6ed;
 color: white;
 height:100%;
 font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#booking_index-line {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.bookingcardinfo2admin {
  width: 50%;
}

.bookingcardinfo2admin h4 {
  text-align: right;
  margin-right: 20px;
}

.bookingcardinfo2admin input {
  width: 80%;
  margin-top: 20px;
  margin-left: 21%;

}

//page prix

.prixtop {

  width:100%;
  height: 490px;
  margin-bottom: 50px;

}

.prixtop img {
  width: 100%;
  height: 100%;
}

.prixtop h1{
  margin-top: -300px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

.pricetable {

 margin: auto;
}

.pricetable {
font-size: 20px;
margin-bottom: 50px;
}

.case2 {
  border-bottom: 1px solid black;
  text-align: center;
  width:370px;
}

.casetitle {
  text-align: left;
}

// page projet

.projettop {
  width:60%;
  margin: auto;
  height: 490px;
  margin-bottom: 50px;

}

.projettop img {
  width: 100%;
  height: 100%;
}

.projettop h1{
  margin-top: -300px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

.texteprojet {
 width: 60%;
 margin: auto;
 text-align: justify;

margin-bottom: 50px;
}

//page equipe

.equipetop {
  width:60%;
  margin: auto;
  height: 490px;
  margin-bottom: 50px;

}

.equipetop img {
  width: 100%;
  height: 100%;
}

.equipetop h1{
  margin-top: -300px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

.corpequipe {
 width: 60%;
 margin: auto;
 margin-bottom: 15px;
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
 padding: 10px;
}

.corpequipe1 {
  margin-top: 20px;
}sss

.corpequipe1 img {
  height: 250px;
  width: 210px;

}
.corpequipe2 img {
  height: 250px;
  width: 210px;

}

//page contact

.contacttop {
  margin: auto;
  height: 490px;


}

.contacttop img {
  width: 100%;
  height: 100%;
}

.contacttop h1{
  margin-top: -300px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

//page FAQ
.faqtop {

  width:60%;
  margin: auto;
  height: 490px;
  margin-bottom: 50px;

}


.faqtop img {
  width: 100%;
  height: 100%;
}

.faqtop h1{
  margin-top: -300px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

.questioncard{


  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-body-faq {
  padding: 20px;
  font-size: 1.1em;
}

.card-header h2 {
  font-size: 1.6em;
}






//CGU

.cgucorp {
  width: 60%;
  margin: auto;
}

.cgucorp h1 {
  text-align: center;
}

//legal show_admin

#foo {
    height: 150px;
    width: 80%;
    resize:none;
    overflow:auto;
}

//page zoneadmin

.adminmenu a{
  font-size: 1.2em;
  padding-right: 5px;
}
.adminmenu {

  border-bottom: 1px solid black;
  padding-bottom: 10px;

}

.adminmetriques {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid black;
}

.adminblock {
  width: 200px;
  height: 200px;
  margin: auto;
  border: 1px solid black;
  padding-top: 50px;
  text-align: center;
}

.admininfo{
  font-size: 2em;

}


.adminvisites {
  padding: 20px;
}

.adminvisites h2 {
  margin-bottom: 30px;
}


