// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}


// les 12 lignes ci dessous, servent simplement a fixer le footer en bas de page :-)
html, body {
  height: 100%;
  margin: 0; padding: 0;
}
body {
  display : table;
  width: 100%;
}
.foot {
  display : table-row;
  height: 35px; /* à titre d'exemple */
}

li {
  list-style-type: none;
}

//page swow de product

.container{
  width: 1348px;
}

.product-card{
  width: 1348px;
  height: 564px;
}


.product-card h1 {
  margin-top: -370px;
  margin-left: 50px;
  color: white;
  font-size: 100px;
  font-weight: bold;
}


.bloc-photo {
  height: 100%;
  width: 100%;
}


.bloc-1 {
  border: 5px, solid, black;
}

.bloc-1 img {
  height: 25px;
}


.bloc-2 img {
  height: 25px;
}


.bloc-photo img {
  height: 100%;
  width: 100%;
}

.description {
text-align: justify;
padding-top: 30px;
}

.description h2 {
text-align: center;
padding: 15px;
}

.description p {
  margin-top: 30px;
  margin-bottom: 30px;
}


.description1 img{
  width: 100%;
  margin: auto;
}

.bloc-picto-3{

  height: 80px;
  display: flex;
  justify-content: left;
  margin-top: 25px;
  margin-bottom: 60px;
  margin-left: -40px;

}

.bloc-picto-2 img {
  height: 30px;
}

.bloc-picto-2 h3 {
  text-align: center;
}

.Practish {
  height: 350px;

}

.Tips {
  height: 350px;
}

#btn2 {
  width: 100%;

}


.row {
  width:100%;
  margin: 0px;
}

.yield {
  margin-top: 150px;
}

.pictos{
  justify-content: space-between;
}

.formulaire {
  margin-top: 50px;
  margin-bottom: 50px;
}
// pour la grille de prix de la show de product//

.pricegrid {
  text-align: center;
  margin-bottom: 30px;
}

.pricegrid h3 {
  margin-bottom: 20px;
}

.case {
  //box-shadow: 0 0 15px rgba(0,0,0,0.2)
  border-top: 1px solid black;

}







.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}


//pour les cartes de l'index booking//

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 5px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  margin-right: 50px;
}

